@import url('/static/css/fonts.css');
@import './styleTools.scss';
@import './fixed/navbar.scss';
@import './sections/hero.scss';
@import './sections/body-sections.scss';
@import './sections/footer.scss';
@import './sections/sidePages.scss';

@import url('./boot.min.css');

body {
  line-height: 22px;
  background: rgba(124, 117, 117, 0.678);
  overflow-x: hidden;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#__next {
  min-height: 100vh;
  position: relative;
}
.body-cont {
  padding: 0 0 5em 0;
}
.bold {
  font-weight: bold;
}
